<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="../public/css/login-all-min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="login-container">

    <div id="login-header">
        <div class="logo">
            <img src="../public/img/logo.png"/>
        </div>
    </div>
    <div class="login-main">
        <div class="login-middle">
            <div class="login-header-title">
                帐号密码登录
            </div>
            <div class="tang-pass-login">
                <div class="userNamePassWordWrapper">
                    <input class="userName" type="input"/>
                    <input class="passWord" type="password"/>
                </div>
                <div class="remeberCheck">
                    <input type="checkbox" id="checkInput"/><label for="TANGRAM__PSP_4__memberPass">下次自动登录</label>
                </div>
                <button id="submit">登录</button>
            </div>
        </div>
        <div class="all-index-banner">
            <ul>
                <li class="index-body-content show">
   							<span class="body-content-word">
   								"安全存储<br>
   								生活井井有条"


   							</span>
                    <img src="../public/img/bg1.jpg"/>
                </li>
                <li class="index-body-content">
   							<span class="body-content-word">
   								"在线预览<br>
   								文件即开即看"
   							</span>
                    <img src="../public/img/bg2.jpg"/>
                </li>
                <li class="index-body-content">
   							<span class="body-content-word">

   								"多端并用<br>
                      			 数据随身携带"
   							</span>
                    <img src="../public/img/bg3.jpg"/>
                </li>
                <li class="index-body-content">
   							<span class="body-content-word">
   								"好友分享<br>
								 共度幸福时光"
   							</span>
                    <img src="../public/img/bg4.jpg"/>
                </li>
            </ul>

        </div>
        <div class="focus-anchor">
   					<span class="hidefocus">
   					</span>
   					<span>
   					</span>
   					<span>
   					</span>
   					<span>
   					</span>
        </div>
    </div>
    <div class="login-download">
        <ul>
            <li class="window"></li>
            <li class="android"></li>
            <li class="iphone"></li>
            <li class="iPad"></li>
            <li class="MAC"></li>
        </ul>
    </div>

</div>
</body>
</html>
<script src="../public/lib/jquery.js"></script>
<script src="../public/lib/jquery.cookie.js"></script>
<script src="../public/gruntJs/unic.js"></script>
<script src="../public/gruntJs/login-all.js"></script>